{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
 <!-- Showcase -->
 <section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Acheter et vendre des articles en ligne
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <div class="search">
          <form action="search.html">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Search</label>
                <input type="text" name="keywords" class="form-control" placeholder="Chercher (Electroniques, Gadgets, livres)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Villes</label>
                <input type="text" name="city" class="form-control" placeholder="Ville">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Villes</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">Toutes Villes</option>
                  <option value="ND">N'Djamena</option>
                  <option value="MD">Moundou</option>
                  <option value="AB">Abeche</option>
                  <option value="SH">Sarh</option>
                  <option value="FL">Faya-Largeau</option>
                  <option value="KM">Koumra</option>
                  <option value="KL">Kélo</option>
                  <option value="MG">Mongo</option>
                  <option value="PA">Pala</option>
                  <option value="AT">Am Timan</option>
                  <option value="BG">Bongor</option>
                  <option value="DB">Doba</option>
                  <option value="MO">Mao</option>
                  <option value="OH">Oum Hadjer</option>
                  <option value="MS">Moussoro</option>
                  <option value="BK">Bitkine</option>
                  <option value="BT">Biltine</option>
                  <option value="MG">Massaguet</option>
                  <option value="DB">Dourbali</option>
                  <option value="LE">Léré</option>
                  <option value="LA">Laï</option>
                  <option value="KY">Kyabé</option>
                  <option value="MK">Massakory</option>
                  <option value="BO">Bokoro</option>
                  <option value="BS">Bousso</option>
                  <option value="BE">Benoye</option>
                  <option value="BB">Bébédjia</option>
                  <option value="AD">Adré</option>
                  <option value="NG">Ngama</option>
                  </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Catégories</label>
                <select name="category" class="form-control">
                  <option selected="true" disabled="disabled">Tous les catégories</option>
                  <option value="1">Eléctroniques</option>
                  <option value="2">Livres</option>
                  <option value="3">Maisons</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Prix ​​maximum (n'importe quel)</option>
                  <option value="100000">1000 FCFA</option>
                  <option value="200000">2000 FCFA</option>
                  <option value="300000">5000 FCFA</option>
                  <option value="400000">10.000 FCFA</option>
                  <option value="500000">20.000 FCFA</option>
                  <option value="600000">50.000 FCFA</option>
                  <option value="700000">100.000 FCFA</option>
                  <option value="800000">200.000 FCFA</option>
                  <option value="900000">5000.000 FCFA</option>
                  <option value="1000000">1M+ FCFA</option>
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Chercher</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Les dernières annonces</h3>
    <div class="row">
      <!-- Listing 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$490,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">45 Drivewood Circle</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 2500</div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: 2</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: 3</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 2</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i> Kyle Brown</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr>
            <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

      <!-- Listing 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-2.jpg" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$550,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">18 Jefferson Lane</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Woburn MA, 01801</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 3200</div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: 1</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: 4</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 2.5</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i> Mark Hudson</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr>
            <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

      <!-- Listing 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="assets/img/homes/home-3.jpg" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">$580,000</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">187 Woodrow Street</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> Salem MA, 01915</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: 3107</div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: 0</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: 4</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: 3</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i> Mark Hudson</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> 5 days ago</div>
            </div>
            <hr>
            <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Des services de consultation</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Gestion de propriété</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Location et vente</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}